<footer>
    <nav>
        <a th:href='@{https://wonyong-jang.github.io/}' target='_blank'>Blog</a> |
        <a th:href='@{https://github.com/wonyong-jang/}' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : <a th:href='@{https://developers.kakao.com}' target='_blank'>https://developers.kakao.com</a></span><br>
        <span>Source Code : <a th:href='@{https://github.com/WonYong-Jang/Pharmacy-Recommendation}' target='_blank'>https://github.com/WonYong-Jang/Pharmacy-Recommendation</a></span><br>
        <span>Copyright 2022. WonYong-Jang. All Rights Reserved.</span>
    </p>
</footer>
